{% extends 'base.html' %}

{% block content %}
  <h2>Welcome, {{ username }}!</h2>
  
  <form method="POST" action="{{ url_for('dashboard') }}" class="thecreatebutton">
    <button type="submit" name="create_room">create a new room</button>
  </form>
  
  <form method="POST" action="{{ url_for('dashboard') }}">
    <label>enter a room code: </label>
    <input type="text" placeholder="room code" name="room_code"/>
    <button type="submit" name="join_room">join Room</button>
  </form>

  <h3>your rooms:</h3>
  <ul>
    {% if rooms %}
      {% for room in rooms %}
        <li>
            <a href="{{ url_for('room', code=room.code) }}">Room Code: {{ room.code }}</a>
        </li>
      {% endfor %}
    {% else %}
      <li>no rooms found.</li>
    {% endif %}
  </ul>

  <form method="POST" action="{{ url_for('home') }}" class="thelogoutbutton">
    <button type="submit" name="logout">logout</button>
  </form>
{% endblock %}
