{% extends 'base.html' %}

{% block content %}
  <h2>Welcome, {{ username }}!</h2>
  
  <form method="POST" action="{{ url_for('dashboard') }}">
    <button type="submit" name="create_room">Create a New Room</button>
  </form>
  
  <form method="POST" action="{{ url_for('dashboard') }}">
    <label>Join Room by Code: </label>
    <input type="text" placeholder="Enter a room code" name="room_code"/>
    <button type="submit" name="join_room">Join Room</button>
  </form>

  <h3>Your Rooms:</h3>
  <ul>
    {% if rooms %}
      {% for room in rooms %}
        <li>
            <a href="{{ url_for('room', code=room.code) }}">Room Code: {{ room.code }}</a>
        </li>
      {% endfor %}
    {% else %}
      <li>No rooms found.</li>
    {% endif %}
  </ul>

  <form method="POST" action="{{ url_for('home') }}">
    <button type="submit" name="logout">Logout</button>
  </form>
{% endblock %}
