{% extends 'base.html' %}

{% block content %}
  <h2>Welcome, {{ username }}!</h2>
  
  <form method="POST" action="{{ url_for('dashboard') }}" class="thecreatebutton">
    <button type="submit" name="create_room" class="create-btn">create a new room</button>
  </form>
  
  <form method="POST" action="{{ url_for('dashboard') }}">
    <label>enter a room code: </label>
    <input type="text" placeholder="room code" name="room_code"/>
    <button type="submit" name="join_room">join Room</button>
  </form>

  <h3>your rooms:</h3>
    {% if rooms %}
      {% for room in rooms %}
      <form method="POST" action="{{ url_for('room', code=room.code) }}">
        <input type="hidden" name="room_code" value="{{ room.code }}">
        <button type="submit" class="room-button">Room Code: {{ room.code }}</button>
      </form>
      {% endfor %}
    {% else %}
      <p>no rooms found.</p>
    {% endif %}

  <form method="POST" action="{{ url_for('home') }}" class="thelogoutbutton">
    <button type="submit" name="logout" class="logout-btn">logout</button>
  </form>
{% endblock %}